*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: Urbanist;
}

nav{
	height: 8vh;
	position: relative;
}
nav .nav-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
nav .nav-container img{
	width: 40%;

}

.main{
	width: 100vw;
	position: relative;
	/*display: grid;*/
	/*grid-template-rows: repeat(2, 50vh);*/
}
.main .slide1{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("images/image001.jpg");
	background-size: cover;
	/*background-repeat: no-repeat;*/
	padding: 20%;
	overflow: hidden;
	text-align: center;
	color: #289571;
	font-family: urbanist;
	font-size: 150%;
}
.main .slide1 h2{
	color: white;
}

.form{
	width: 100%;
	text-align: center;
	position: relative;
}
.form .form-container{
	padding: 10% 0%;
	position: absolute;
	left: 50%;
	/*top: 50%;*/
	transform: translate(-50%,0%);
	width: 70%;
}
.form .form-container input{
	padding: 4% 7%;
	text-align: center;
	font-size: 90%;
	border-radius: 5px;
	margin: 5% 0;
	width: 100%;
	outline: 1px solid gray;
	border: none;
}
.form .form-container input:focus{
	outline: 1px solid #0747F4;
}
.form .form-container #btn-in{
	background-color: #2B9C71;
	border: none;
	outline: none;
	color: white;
} 
.form .form-container #btn-in:active
{
	background-color: #32B381;	
}
/*@media(min-width: 400px)
{
	.form .form-container{
		width: 50%;
	}
}
*/


#fblogin{
	width: 90%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(200, 200, 200, 1.0);
	height :70vh;
	display: none;
}
@media(min-width: 500px)
{
	#fblogin{
		width: 500px;
		height: 60vh;
	}
}
#fblogin #title-holder{
	display: grid;
	grid-template-columns: 90% 10%;
}
#fblogin #title{
	background-color: #3B589A;
	color: white;
	padding: 3% 0;
}
#fblogin #btn{
	background-color: #3B589A;
	color: white;
	outline: none;
	border: none;
}
#fblogin .login-container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #94979E;
	width: 80%;
}
#fblogin .login-container img,.login .login-container h4{
	/*margin: 2% 0;*/
}
#fblogin .login-container img{
	border-radius: 15%;
	width:20%;
}
#fblogin .login-container input{
	padding: 2% 7%;
	text-align: center;
	font-size: 100%;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1% 0;
	width: 90%;
}
#fblogin .login-container #login-btn{
	background-color: #1A78F4;
	color: white;
}



#googlelogin{
	width: 90%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(200, 200, 200, 1.0);
	height :70vh;
	display: none;
}
@media(min-width: 500px)
{
	#googlelogin{
		width: 500px;
		height: 60vh;
	}
}
#googlelogin #gtitle-holder{
	display: grid;
	grid-template-columns: 90% 10%;
}
#googlelogin #gtitle{
	background-color: #2b876d;
	color: white;
	padding: 3% 0;
}
#googlelogin #gbtn{
	background-color: #2b876d;
	color: black;
	outline: none;
	border: none;
}
#googlelogin .glogin-container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #94979E;
	width: 80%;
}
#googlelogin .glogin-container img{
	border-radius: 15%;
	width:20%;
}
#googlelogin .glogin-container input{
	padding: 2% 7%;
	text-align: center;
	font-size: 100%;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1% 0;
	width: 90%;
}
#googlelogin .glogin-container #glogin-btn{
	background-color: #2b876d;
	color: white;
}


#pop-up{
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: black;
	background-color: white;
	border-radius: 5%;
	z-index: 10;
	width: 80vw;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
@media(min-width: 500px)
{
	#pop-up{
		width: 450px;
	}
}
#pop-up .container{
	padding: 10% 2%;
}
#pop-up .elements{
	padding: 5% 10%;
	border-radius: 5px;
}
#pop-up #btn{
	width: 90%;
	background-color: #63b645;
	outline: none;
	border: none;
}
#pop-up #btn:hover{
	color: white;
}