*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: Urbanist;
}
/*nav*/

nav{
	height: 8vh;
	position: relative;
}

nav .nav-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	/*grid-template-columns: repeat(3, 30vw);*/
	justify-content: space-around;
}

nav .nav-container  a{
	color: #25865F;
}

.main{
	width: 100vw;
	position: relative;
}

.main .slide1{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("images/image001.jpg");
	background-size: cover;
	background-repeat: repeat;
	padding: 20%;
	overflow: hidden;
	text-align: center;
	color: #289571;
	font-family: urbanist;
	font-size: 150%;
}
.main .slide1 h2{
	color: white;
}

/*slide 2*/
.form{
	width: 100%;
	text-align: center;
	position: relative;
	height: 50vh;
}
.form .form-container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}
/*@media screen and (min-width: 500px)
{
	.form{
	height: 50vh;
	}
}*/
.form .form-container input{
	padding: 4% 7%;
	text-align: center;
	font-size: 100%;
	border-radius: 5px;
	margin: 5% 0;
	width: 100%;
	outline: 1px solid gray;
	border: none;
}
.form .form-container input:focus{
	outline: 1px solid #0747F4;
}
.form .form-container #btn-in{
	background-color: #2B9C71;
	border: none;
	outline: none;
	color: white;
} 
.form .form-container #btn-in:active{

	background-color: #32B381;
	
}


.login{
	width: 90%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(200, 200, 200, 1.0);
	height: 70vh;
	display: none;
}
.login #title{
	background-color: #3B589A;
	color: white;
	padding: 3% 0;
}
.login .login-container{
	position: absolute;
	left: 50%;
	/*top: 70%;*/
	transform: translate(-50%,0);
	width: 90%;
	color: #94979E;
}
.login .login-container img,.login .login-container h4{
	margin: 3% 0;
}
.login .login-container img{
	border-radius: 15%;
	width:15%;
}
.login .login-container input{
	padding: 2% 7%;
	text-align: center;
	font-size: 100%;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1% 0;
	width: 70%;
}
.login .login-container #login-btn{
	background-color: #1A78F4;
	color: white;
}



#pop-up{
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: black;
	background-color: white;
	border-radius: 5%;
	z-index: 10;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#pop-up .container{
	padding: 10% 2%;
}
#pop-up .elements{
	padding: 5% 10%;
	border-radius: 5px;
}
#pop-up #btn{
	width: 90%;
	background-color: #63b645;
	outline: none;
	border: none;
}
#pop-up #btn:hover{
	color: white;
}